#container {
    display:grid;
    height:100vh;
    width: 100%;
    grid-template-columns: 1fr 4fr;
}

#bod {
    height: 100%;
    margin: 0;
}

#side {
    background-color: blueviolet;
    height:100%;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr 4fr;

}

#dashboard{
display: grid;
padding-left: 10px;
background-color: #475569;
color:white;
margin-left: -12px;
}

#dashboard li {
    font-size: larger;
}

#mask{
padding-top: 20px;
}

#mask-heading{
display: grid;
justify-content: start;
margin-left: -10px;
}


#home{
margin-left: -5px;
background-color:#475569;
color:white;
}

#settings{
    padding-left: 10px;
    background-color: #475569;
    margin-left: -20px;
    color:white;
}

#blank{
    padding-left: 10px;
    background-color: #475569;
    color:white;
}

#main {
    background-color: brown;
    height:100%;
    display:grid;
    grid-template-rows: 1fr 4fr;
}

#upper-main {
    background-color:white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#lower-main {
    background-color: chartreuse;
    display:grid;
    grid-template-columns: 3fr 1fr;
} 

#left-upper-main {
    background-color: indianred;
    display:grid;
    grid-template-rows: 1fr 11fr;
}

#your-projects{
background-color:#e5e7eb;
}

#your-projects h4 {
    padding-left: 20px;
}

#projects-lower{
display: grid;
grid-gap: 20px;
padding-bottom: 50px;
padding-left: 20px;
padding-right: 20px;
background-color: #e5e7eb;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
margin-top: -15px;
}

.item {
    border: 20px black;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 2fr 1fr;
    border-radius: 5px;
}


#right-upper-main {
    background-color: yellow;
    display:grid;
    grid-template-rows: 1fr 11fr;
}

#announcments{
background-color: #e5e7eb;
}

#announcments-lower{
display: grid;
grid-template-rows: 4fr 1fr 4fr;
background-color:#e5e7eb;
padding-bottom: 50px;
padding-right: 20px;
margin-top: -15px;
}

.box{
    background-color:white;
    border-radius: 5px;
}

#search{
    background-color:white;
    display: grid;
    grid-template-columns:  2fr 1fr;
    margin-top: -30px;
}

#bar{
    background-color:white;
    padding-left: 10px;
    display: grid;
    align-content: flex-start;
}


#buttons{
    display: grid;
    grid-template-columns:  2fr 1fr;
}

#icons{
    background-color:white;
}

.box-up{
    padding-left: 5px;
}

.box-up p {
    font-size: small;
    color: rgb(172, 172, 172);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.box-down {
    display: inline-flex;
    justify-content: flex-end;
}

.box-down p {
    padding-right: 10px;
    padding-top: 15px;
}

#announcement-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#trending-box{
    margin-top: -25px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    padding-left: 30px;
}

li{
    margin: 10px 0;
  }

  input {
    width: 450px;
    border-radius: 5px;
  }

  #alarm {
    display: inline-flex;
    justify-content: end;
    padding-right: 20px;
    margin-top: 30px;
  }

  #push{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    margin-left: 15px;
    background-color: #475569;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 12px;
  }

  #icons{
    display: inline-flex;
    padding:10px;
  }

  p h3 h4{
    font-family: 'Roboto', sans-serif;
  }

  #trending-box p {
    margin:0 
  }
  
  .inner-box {
    padding-top: 20px;
    padding-left: 5px;
  }

  .p-heading {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
  }

  .box p {
    margin:0 
  }

  .p-body{
    font-size: 12px;
    color: grey;
  }

  .text {
    padding-left: 20px;
    padding-right:20px;
  }

  #at1 {
    padding-left:20px;
  }

  #at2 {
    padding-left:20px;
  }

  #at3 {
    padding-left:20px;
  }

  #at4 {
    padding-left:20px;
  }

  #type{
    margin-top: 20px;
  }